.monitoringPanel {
   display: inline-block;
   width: 300px;
   border: 1px solid black;
   margin: 5px;
}

.monitoringPanel .title {
   font-size: x-large;
   font-weight: bold;
   text-align: center;
   padding-bottom: 8px;
}

.monitoringPanel textarea {
   box-sizing: border-box;
   width: 100%;
   height: 100px;
   vertical-align: bottom;
   resize: none;
   padding: 0;
}

.monitoringPanel .fieldContainer {
   font-family: monospace;
   font-size: 14px;
   padding-left: 4px;
}

.monitoringPanel .fieldContainer .status {
   box-sizing: border-box;
   height: 14px;
   width: 14px;
   display: inline-block;
   vertical-align: middle;
   /*border: 1px dashed #000000;*/   /* If activated, the border of fields with thresholds will be overridden with a solid border, and fields without thresholds will remain dashed */
}

.monitoringPanel .fieldContainer  .status.normal {
   background-color: #00FF00;
   border: 1px solid black;
}

.monitoringPanel .fieldContainer .status.warn {
   background-color: #FFFF00;
   border: 1px solid black;
}

.monitoringPanel .fieldContainer .status.danger {
   background-color: #FF0000;
   border: 1px solid black;
}

.monitoringPanel .fieldContainer label {
   font-weight: bold;
   vertical-align: middle;
   margin-left: 7px;
   padding-right: 10px;
}

.monitoringPanel .fieldContainer .hidden {
   display: none;
}

.monitoringPanel .fieldSeparator {
   height: 11px;
}

.monitoringPanel .btnContainer {
   display: inline-block;
   line-height: 50px;
   width: 100%;
   vertical-align: bottom;
   text-align: center;
   padding-bottom: 5px;
}

.monitoringPanel .btnContainer button {
   line-height: normal;
}